body {
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 0;
  background-color: #fafafa;
  font-size: 1.1rem;
  line-height: 1.3;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}


.columns {
  margin-left: 0 !important;
}
.twelve.columns {
    width: 100%;
    margin-left: 0;
  }
/*.row > .columns:not(:first-child) {
  padding-left: 10px;
}*/

h1,
h5,
h6 {
  margin: 0;
}
h5 {
  font-size: 2.6rem;
}
h6 {
  font-size: 1.825rem;
}


li {
  color: #7a7a7a;
  list-style: square;
  padding-left: 0;
}

.product {
  position:auto;
  height: 35%;
  #font-size: 2.6rem;
  padding: 30px;
  margin-bottom: 25px;
  border-radius: 1px;
  background: #98151b;
  color: #ffffff;
}
.full-view-link {
  background-color: rgb(152, 21, 27);
  color: white !important;
  font-size: medium;
  padding: 15px 15px;
  float: left;
  margin-left: 25%;
  width: 55%;
  text-align: center;
  transition-duration: 1s;
}
.learn-more-button{
  background-color: rgb(152, 21, 27);
  color: white !important;
  font-size: medium;
  padding: 15px 15px;
  float: right;
  margin-left: 95%;
  width: 25%;
  text-align: center;
  transition-duration: 1s;
}
  
}
.all-tabs {
  text-align:left;
  font-size: 27px;
  margin-top: 10px;
}
.main-title {
  position: relative;
  color: #3a3a3a;
  font-size: 40px !important;
  width: 100%;
  border-left: 20px solid #98151b;
  background: #ffffff;
  padding-left: 30px;
}



.logo {
  height: 50px;
  width: auto;
  margin: 25px 25px;
}

a:link {
  color: #696969;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #696969;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  opacity: 0.6;
}

/* selected link */
a:active {
  color: lightgrey;
  text-decoration: underline;
}

.greyline {
  width: 90%;
  border-bottom: 1px solid lightgrey;
}

.tab {
  border-style:  dotted;;
  border-color: rgb(0, 0, 0, 0.2);
  border-bottom-style: none;
  border-top-style: none;
  border-right-style: none;
  padding: 5px 10px;
  font-size:  29px;;
}

.rowrow {
  margin: auto;
  text-align: left;
  width: 97%;
}

.rowrow2 {
  margin: auto;
  width: 80%;
}

.tablast {
  border-style: solid;
  border-color: rgb(0, 0, 0, 0.2);
  border-bottom-style: none;
  border-top-style: none;
  color: black;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
  background-color: #F4D03F;
}

#learn-more-button {
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: none;
  margin: 25px 25px;
}
